PORT=4000
NODE_ENV=development
AUDIT_LOG_TARGET=stdout
PHASE1_AUTH_ONBOARDING_ENABLED=true
PHASE2_DOCUMENT_ARCHIVE_ENABLED=true
PHASE2_COMPANY_INBOX_ENABLED=true
PHASE2_OCR_REVIEW_ENABLED=true
PHASE3_LEDGER_ENABLED=true
PHASE4_VAT_ENABLED=true
PHASE5_AR_ENABLED=true
PHASE6_AP_ENABLED=true
PHASE7_HR_ENABLED=true
PHASE7_TIME_ENABLED=true
PHASE7_ABSENCE_ENABLED=true
